@charset "UTF-8";

/* Header */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 500px;
    font-family: 'SpoqaHanSansNeo-R', sans-serif;
}

.hd_top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    margin: 30px;
}

.logo, .d-flex, .signInUp {
    flex: 1;
}

.hd_top .logo {
    text-align: left;
    flex-wrap: nowrap;
    min-width: 20%;
    font-size: 45px;
    font-family: 'GmarketSans-B', sans-serif;
    color: var(--beige);
    padding-left: 40px;
}

.d-flex {
    text-align: center;
    flex-wrap: nowrap;
    min-width: 30%;
    max-width: 300px;
    margin: 0 auto;
}

.signInUp {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    min-width: 10%;
    list-style: none;
}

.signInUp a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 8rem;
}

.SlLogin, .SlLogout, .SlPencil, .SlSettings, .SlWrench {
    margin-right: 5px;
}

.ui-menu-icon {
    width: 6em;
    display: none;
}

.ui-menu-icon a:hover {
    --bs-dropdown-bg: var(--beige);
    --bs-navbar-toggler-focus-width: 90%;
}

.hd_top img {
    filter: opacity(0.4) drop-shadow(0 0 0 #ece8e4);
}

.navbar {
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    width: 100%;
    min-height: 60px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--beige);
    padding-left: 200px;
    padding-right: 200px;
    max-height: 54.5px;
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: 1.25rem;
    --bs-nav-link-color: var(--beige);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-category-item {
    display: none;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    overflow: hidden;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}

.navbar a:hover {
    color: var(--light-beige);
    text-decoration-line: none !important;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* End Header */

/* Common */
a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none !important;
}

.btn_regular {
    --bs-btn-font-family: 'SpoqaHanSansNeo-R';
    --bs-btn-color: var(--beige);
    --bs-btn-border-color: var(--beige);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--beige);
    --bs-btn-hover-border-color: var(--beige);
    --bs-btn-focus-shadow-rgb: 224, 206, 195;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--beige);
    --bs-btn-active-border-color: var(--beige);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(224, 206, 195, 0.25);
    --bs-btn-disabled-color: var(--beige);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--beige);
    --bs-gradient: none;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #ece8e4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(224, 206, 195, 0.25);
}

li {
    display: inline-flex;
    margin-left: 15px;
    list-style: none;
}
/* End Common */
.main-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px; /* 푸터 높이만큼의 여백을 둡니다 */
}
/* Footer */

footer {
    position: relative; /* absolute 대신 relative를 사용 */
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    background: var(--light-beige);
}

.footer-container {
    display: inline;
    max-width: 1180px;
    margin: 0 auto 90px;
}

.ft_li {
    display: inline-block;
    margin-left: 15px;
}

/* End Footer */

@font-face {
    font-family: 'SpoqaHanSansNeo-B';
    src: url('fonts/SpoqaHanSansNeo-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-R';
    src: url('fonts/SpoqaHanSansNeo-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GmarketSans-B';
    src: url('fonts/GmarketSansTTFBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/GmarketSansTTFBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/GmarketSansTTFBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/GmarketSansTTFBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GmarketSans-M';
    src: url('fonts/GmarketSansTTFMedium.eot'); /* IE9 Compat Modes */
    src: url('fonts/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/GmarketSansTTFMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/GmarketSansTTFMedium.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/GmarketSansTTFMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('fonts/NanumMyeongjo.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NanumMyeongjo.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NanumMyeongjo.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/NanumMyeongjo.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

/* Color */
:root {
    --blue: #5177FF;
    --light-blue: #7997FF;
    --deep-blue: #3861F3;
    --dark-blue: #161B2E;
    --white: #fff;
    --pale-gray: #FAFAFD;
    --weak-gray: #F5F4FA;
    --light-gray: #E0E0E7;
    --neutral-gray: #B0B0B9;
    --gray: #707076;
    --deep-gray: #4D4D53;
    --dark-gray: #28282B;
    --black: #000;
    --beige: #c5b6ae;
    --light-beige: #ece8e4;
}

.color-blue {
    color: var(--blue) !important;
}

.color-light-blue {
    color: var(--light-blue) !important;
}

.color-deep-blue {
    color: var(--deep-blue) !important;
}

.color-dark-blue {
    color: var(--dark-blue) !important;
}

.color-white {
    color: var(--white) !important;
}

.color-beige {
    color: var(--beige) !important;
}

.color-light-beige {
    color: var(--light-beige) !important;
}

.color-pale-gray {
    color: var(--pale-gray) !important;
}

.color-weak-gray {
    color: var(--weak-gray) !important;
}

.color-light-gray {
    color: var(--light-gray) !important;
}

.color-neutral-gray {
    color: var(--neutral-gray) !important;
}

.color-gray {
    color: var(--gray) !important;
}

.color-deep-gray {
    color: var(--deep-gray) !important;
}

.color-dark-gray {
    color: var(--dark-gray) !important;
}

.color-black {
    color: var(--black) !important;
}
/* End Color */

/* Typography */
body {
    font-family: 'SpoqaHanSansNeo-R', sans-serif;
    font-weight: normal;
    font-size: 100%;
    min-height: 70%;
    letter-spacing: -.03em;
    line-height: 1.3;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GmarketSans-M', sans-serif;
    line-height: 1.3;
    letter-spacing: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 8px;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff;-webkit-text-size-adjust:none}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'SpoqaHanSans', sans-serif;color:#666}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button,textarea{-webkit-appearance:none}

.subhead-1 {
    font-family: 'SpoqaHanSansNeo-B', sans-serif;
    font-size: 24px;
}

.subhead-2 {
    font-family: 'SpoqaHanSansNeo-B', sans-serif;
    font-size: 18px;
}

.subhead-3 {
    font-family: 'SpoqaHanSansNeo-B', sans-serif;
    font-size: 16px;
}

.subhead-4 {
    font-family: 'SpoqaHanSansNeo-B', sans-serif;
    font-size: 15px;
}

.subhead-5 {
    font-family: 'SpoqaHanSansNeo-B', sans-serif;
    font-size: 14px;
}

.article {
    font-family: 'NanumMyeongjo', sans-serif;
    font-size: 12px;
}

/* lg */
@media (max-width: 1019.98px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 38px;
    }

    h4 {
        font-size: 28px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 22px;
    }
}

/* sm */
@media (max-width: 575.98px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }
}
/* End Typography */

/* Media Query */

/* xxxl */
@media (max-width: 1799.98px) {
    .smail-nav {
        display: none;
    }
}

/* xxl */
@media (max-width: 1539.98px) {
    .smail-nav {
        display: none;
    }
    .d-flex {
        margin-right: 11rem;
    }
}

/* xl */
@media (max-width: 1279.98px) {

}

/* lg */
@media (max-width: 1019.98px) {

}

/* md */
@media (max-width: 900px) {
    .signInUp {
        display: none !important;
    }
}

/* sm */
@media (max-width: 750px) {
    .d-flex {
        display: none !important;
    }
    .signInUp {
        display: none !important;
    }
    .navbar-nav {
        display: none !important;
    }
    .ui-menu-icon {
        display: block;
    }
}

/* End Media Query */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpoqaHanSansNeo-B';
    src: url('fonts/SpoqaHanSansNeo-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-R';
    src: url('fonts/SpoqaHanSansNeo-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/SpoqaHanSansNeo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GmarketSans-B';
    src: url('fonts/GmarketSansTTFBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/GmarketSansTTFBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/GmarketSansTTFBold.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/GmarketSansTTFBold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'GmarketSans-M';
    src: url('fonts/GmarketSansTTFMedium.eot'); /* IE9 Compat Modes */
    src: url('fonts/GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/GmarketSansTTFMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/GmarketSansTTFMedium.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/GmarketSansTTFMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'NanumMyeongjo';
    src: url('fonts/NanumMyeongjo.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumMyeongjo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/NanumMyeongjo.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/NanumMyeongjo.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/NanumMyeongjo.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}